body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
  }

  /*-------------------------------------- navbar------------------------------------------------ */
  nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    gap: 20px;
    align-items: center;
    margin-top: 0px;
    /* border-bottom: 2px solid; */
    box-shadow: 1px 1px 7px 1px gray;
  }

  .nav-link {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
  }
  .nav-link:hover{
    text-decoration: underline;    
    color: blue;
    font-size: larger;
  }

  section{
    padding-top: 0.1px;
  }
   #menu{
    position: absolute;
    text-align: right;
    font-size: 20px;
    margin: 0px;
    }
  /*---------------------------------------------hero----------------------------------------------*/
  .tittle {
    align-items: center;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: #322e2f;
  }

  .hero {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
     color: rgb(36, 124, 146);
  }

  .hero-head {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 0px;
    font-weight: bold;
    
  }
  span{
    animation: example 15s ease infinite;

  }

  .hero-subhead {
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;

  }

  #hero {
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #2a1fbe, #23a6d5, #23d5ab);
    background-size: 600% 100%;
    animation: gradient 15s linear infinite;
    animation-direction: alternate;
  }

  @keyframes gradient {
    0% {
      background-position: 0%
    }

    100% {
      background-position: 100%
    }
  }
  @keyframes example {
      0% {
         color: white;
      }
      10%{
          color: red;
      }
      20%{
         color: blue;
      }

      30% {
          color: brown;
      }

      40% {
          color: purple;
      }

      50% {
          color: aqua;
      }

      60% {
          color: green;
      }
      70%{
         color:red;
      }
      80%{
         color: gray;
      } 
      90%{
          color: yellow;
      }
     100%{
          color: pink;
      }
    }

  /* --------------------------------------------about me ------------------------------------*/
  .self-img {
    float: left;
    margin-right: 50px;
  }

  .aboutme {
    min-height: 355px;
    margin-top: 150px;
  }


  /*--------------------------------------------skill sec----------------------------------------------------------------*/
  .skill-icon {
    clear: both;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: blue;
    gap: 50px;
    text-align: center;
  }

  .skills {
    margin-top: 100px;
    border-top: 1px solid lightgray;
    text-align: center;
  }

  /* ------------------------------------------project sec---------------------------------------------------------------*/
  .project h1 {
    font-size: x-large;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
  }
  .project{
    justify-content: center;
  }
  .project-main {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .project-main div {
    width: 300px;
    margin-top: 30px;
  }

  .project-main img {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px gray
  }

  img {
    transition: box-shadow 1.5s ease;
  }

  img:hover {
    box-shadow: 2px 2px 10px 10px gray;
  }

  /*----------------------------------------------contact sec-----------------------------------------------------*/
  .contact {
    box-sizing: border-box;
    margin-top: 90px;
    color: #F17C58;
    list-style: none;
    border-top: 1px solid lightgray;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
  }

  .contact-icons {
    margin-right: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 8px;


  }

  li {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }

  li img {
    margin-top: 8px;
  }

  /*--------------------------------------- css for footer -----------------------------------------*/
  footer {
    border-top: 3px solid black;
    margin-top: 90px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    background-color: rgb(73, 64, 64);
    color: rgb(238, 227, 227);
  }

  footer p {
    color: white;
  }

  /*------------------- universal */
  p {
    color: rgb(77, 61, 42);
    letter-spacing: 1px;
    line-height: 40px;
  }

  h1 {
    margin-top: 10px;
    color: rgba(22, 22, 22, 0.863);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 40px;
  }

  h3 {
    clear: both;
    color: rgb(19, 18, 18);
    letter-spacing: 2px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
  }

  button {
    background-color: rgb(38, 156, 224);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: 0px solid;
    border-radius: 5px;
    transition: background-color 1s ease;
  }

  button:hover {
    background-color: green;
  }


  /* --------------------------mq --------------------------------------*/
  @media(max-width: 750px) {
    body{
      padding: 0px 3px;
    }
    .hero-head{
      font-size: xx-large;
    }
    .hero-subhead{
      font-size: large;
    }
    .self-img{
      width: 100%;
    }
    .project-main div{
      width: 100%;
    }
    .project-main img{
      width: 100%;
    }
     *{
      flex-direction: column;
    }
    li{
      text-align: left;
      align-items: flex-start;
      padding-left: 10px;
    }
    .nav-link{
      display: none;
    }
    }
  
